body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: url('https://t3.ftcdn.net/jpg/02/98/55/92/360_F_298559228_qAu46P4ahX5oneA6pNIkATQhXIXmoRRU.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 80px 0;
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin: 0;
}

section {
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-top: 0;
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.project {
    margin-bottom: 20px;
    padding: 20px;
    background: #e0e0e0;
    border-left: 5px solid #333;
}

.project h3 {
    margin-top: 0;
    font-size: 1.5em;
}

.project a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.project a:hover {
    background: #555;
}
footer {
    background: #333;
    color: #ffffff;
    text-align: center;
    padding: 0px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.github {
    background: #33333300;
    color: #fff;
    text-align: center;
    padding: 0px 0;
    position: right;
    bottom: 0;
    width: 100%;
}
